<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  layout:decorate="main"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>权限不足</title>
</head>
<body class="nav-md footer_fixed">
<div class="container body">
     <div class="main_container">
     <div th:include="common/lefter :: menu" class="col-md-3 left_col menu_f
ixed"></div>
    <div th:include="common/header :: header" class="top_nav"></div>
     <div layout:fragment="content" class="right_col" role="main">
     <div class="row">
     <div class="col-md-12">
     <div class="x_panel">
     <div class="x_title">
     <h2 style="color: #ff0000">
     权限不足
    <i class="fa fa-remove"></i><small style="color: red"><span th:text="${session.loginUser.usrName}">登录用户</span> - 对不起，你没有操作该功能的权限！^_^</small>
    </h2>
     <div class="clearfix"></div>
     </div>
     </div>
     </div>
     </div>
     </div>
     </div>
     <footer th:include="common/footer :: copyright"></footer>
     </div>
</div>
</body>
</html>